[DEFAULT]
name = Fuego
server = vdap.org
port = 16024
outdir = ./reports
duration = -24
vlat = 14.473
vlon = -90.88

[thresholds]
min_gap_dur = 5.0
sta_acceptability = 90.0
min_sta = 1, 5

[stations]
scnl = 
	TMKS_EHZ_VG_00, -8.2, 115.7, 1245, sta_acceptability : 50.0
	ABNG_SHZ_VG_00, -8.1, 115.6, 800
	PSAG_EHZ_VG_00, -8.1, 115.6, 800
	CEGI_BHZ_VG_00, -8.1, 115.6, 800
	DUKU_BHZ_VG_00, -8.1, 115.6, 800
	YHKR_BHZ_VG_00, -8.1, 115.6, 800
	GTOH_EHZ_VG_00, 0, 0, 0
	REND_BHZ_VG_00, 0, 0, 0
	MAGI_BHZ_VG_00, 0, 0, 0
	JAGI_SHZ_GE_--, 0, 0, 0, sta_acceptability : 0.0

[distribution]
names = 
	Jay, jwellik@usgs.gov
	Jay Cell, +12143549990@mms.att.net
	Jeremy, jpesicek@usgs.gov
	Steph, sprejean@usgs.gov

[status]
current_status = GOOD

