[DEFAULT]
name = Merapi
server = magma.vsi.esdm.go.id
port = 16023
outdir = ./reports
duration = -24

[thresholds]
min_gap_dur = 5.0
sta_acceptability = 90.0
min_sta = 3

[stations]
scnl = 
	PUSS_EHZ_VG_00, -8.2, 115.7, 1245
	PASB_HHZ_VG_00, -8.1, 115.6, 800
	DELS_EHZ_VG_00, -8.1, 115.6, 800
	KLAS_BHZ_VG_00, -8.1, 115.6, 800

[distribution]
names = 
	Jay, jwellik@usgs.gov
	Jay Cell, +12143549990@mms.att.net
	Jeremy, jpesicek@usgs.gov
	Steph, sprejean@usgs.gov

[status]
last_check = unknown
current_status = BAD

