[DEFAULT]
name = Sinabung
server = magma.vsi.esdm.go.id
port = 16023
outdir = ./reports
duration = -24

[thresholds]
min_gap_dur = 5.0
sta_acceptability = 90.0
min_sta = 3

[stations]
scnl = 
	GBR_SHZ_CV_LB, -8.2, 115.7, 1245
	KBY_SHZ_CV_LB, -8.1, 115.6, 800
	KWR_SHZ_CV_LB, -8.1, 115.6, 800
	MMD_SHZ_CV_LB, -8.1, 115.6, 800
	SBY_SHZ_CV_LB, -8.1, 115.6, 800
	SGG_SHZ_CV_LB, -8.1, 115.6, 800

[distribution]
names = 
	Jay, jwellik@usgs.gov
	Jay Cell, +12143549990@mms.att.net
	Jeremy, jpesicek@usgs.gov
	Steph, sprejean@usgs.gov

[status]
last_check = unknown
current_status = BAD

